/* let's design */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


:root{
    --primary-color1:#10B981; 
    --primary-color2: #34D399;
    --primary-color3: #6EE7B7;
    --primary-color4:#A7F3D0;
    --primary-color5: #D1FAE5;
    --primary-color6: #ECFDF5;


}


body{
    font-family: "Roboto Slab",
    "Open Sans";
    max-width: 600px;
    margin: auto;


}


/* designing a navbar */

.navigation{
    /* border: solid; */
    background-color:var(--primary-color3);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 0.2rem 1rem;
}

.navigation .nav-links{

    display:inline;
    text-decoration: none;
    margin: 0.5rem;

 }
.navigation .nav-a{
    color:black;
}


.navigation .nav-a{
    text-decoration: none;
}





/* #maiking the image responsive */
.responsive {
    width: 100%;
    height: auto;
    padding-top: 1rem;
  }




/* designing technologies section */

.technologies{
    background-color:var(--primary-color5);
    padding: 1rem 1rem;

}


.technologies .tech-list{
    padding: 0.5rem;
}
/* designing tools */



/* desiging footer */

.cl-footer{
    background-color:var(--primary-color2);
    padding: 0.5rem  0.5rem;
    border-end-end-radius: 1rem;
    text-align:center;

}

.foot-li{
    display:inline;
    text-decoration: none;
    padding: 0.5rem 0.5rem;
}